apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "entrybot.fullname" . }}
  labels:
    {{- include "entrybot.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "entrybot.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "entrybot.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "entrybot.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: DB_URL
              value: {{ .Values.DB_URL }}
            - name: DISCORD_TOKEN
              value: {{ .Values.DISCORD_TOKEN }}
            - name: IMGFLIP_USERNAME
              value: {{ .Values.IMGFLIP_USERNAME }}
            - name: IMGFLIP_PASSWORD
              value: {{ .Values.IMGFLIP_PASSWORD }}
            - name: NEXUS_EMAIL
              value: {{ .Values.NEXUS_EMAIL }}
            - name: NEXUS_PW
              value: {{ .Values.NEXUS_PW }}
            - name: PORT
              value: "{{ .Values.service.port }}"
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}