# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      id: buildx
      uses: crazy-max/ghaction-docker-buildx@v3
      with:
        buildx-version: latest
        qemu-version: latest
    - name: Available platforms
      run: echo ${{ steps.buildx.outputs.platforms }}

    - run: |
        docker login -u ${{ secrets.REGISTRY_USERNAME }} -p ${{ secrets.REGISTRY_PASSWORD }}
        docker buildx build \
          --platform linux/arm/v7 \
          -t ${{ secrets.REGISTRY_USERNAME }}/entrybot:${{ github.sha }} \
          --push .
        docker images
    - uses: azure/k8s-set-context@v1
      with:
        method: kubeconfig
        kubeconfig:  ${{ secrets.KUBECONFIG }}
      id: setcontext

    - uses: azure/setup-helm@v1
      with:
        version: 'v3.0.2' # default is latest stable
      id: install

    - run: |
        helm uninstall entrybot || echo "APP NOT INSTALLED ALREADY"
        helm install --set image.repository="${{ secrets.REGISTRY_USERNAME }}/entrybot" --set image.version="${{ github.sha }}" entrybot deploy
